<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title th:text="${title}"></title>
</head>


<footer class="page-footer font-small special-color-dark pt-4" th:fragment="footer">
    <p class="mt-5 mb-3 text-muted text-center">&copy; İl&İlçe 2021</p>
</footer>
</body>
</html>